In [40]:
!pip install streamlit

Collecting streamlit
  Using cached streamlit-1.10.0-py2.py3-none-any.whl (9.1 MB)
Requirement already satisfied: requests in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (2.27.1)
Requirement already satisfied: cachetools>=4.0 in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (4.2.2)
Requirement already satisfied: typing-extensions in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (4.1.1)
Requirement already satisfied: attrs in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (21.4.0)
Requirement already satisfied: altair>=3.2.0 in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (4.2.0)
Collecting blinker
  Using cached blinker-1.4.tar.gz (111 kB)
Requirement already satisfied: pandas>=0.21.0 in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (1.4.2)
Collecting gitpython!=3.1.19
  Using cached GitPython-3.1.27-py3-none-any.whl (181 kB)
Collecting pyarrow
  Downloading pyarrow-8.0.0-cp39-cp39-win_amd64.whl (17.9 MB)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (4.11.3)
Collecting validators
  Using cached validators-0.20.0.tar.gz (30 kB)
Requirement already satisfied: protobuf<4,>=3.12 in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (3.19.1)
Requirement already satisfied: toml in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: watchdog in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: click>=7.0 in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (8.0.4)
Collecting tzlocal
  Using cached tzlocal-4.2-py3-none-any.whl (19 kB)
Collecting rich
  Using cached rich-12.4.4-py3-none-any.whl (232 kB)
Requirement already satisfied: numpy in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (1.21.5)
Collecting pympler>=0.9
  Using cached Pympler-1.0.1-py3-none-any.whl (164 kB)
Collecting pydeck>=0.1.dev5
  Using cached pydeck-0.7.1-py2.py3-none-any.whl (4.3 MB)
Requirement already satisfied: packaging in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (9.0.1)
Requirement already satisfied: tornado>=5.0 in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (6.1)
Requirement already satisfied: python-dateutil in c:\users\wg_95\anaconda3\lib\site-packages (from streamlit) (2.8.2)
Collecting semver
  Using cached semver-2.13.0-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: entrypoints in c:\users\wg_95\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit) (0.4)
Requirement already satisfied: jinja2 in c:\users\wg_95\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit) (2.11.3)
Requirement already satisfied: toolz in c:\users\wg_95\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit) (0.11.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\wg_95\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit) (4.4.0)
Requirement already satisfied: colorama in c:\users\wg_95\anaconda3\lib\site-packages (from click>=7.0->streamlit) (0.4.4)
Collecting gitdb<5,>=4.0.1
  Using cached gitdb-4.0.9-py3-none-any.whl (63 kB)
Collecting smmap<6,>=3.0.1
  Using cached smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: zipp>=0.5 in c:\users\wg_95\anaconda3\lib\site-packages (from importlib-metadata>=1.4->streamlit) (3.7.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\wg_95\anaconda3\lib\site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (0.18.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wg_95\anaconda3\lib\site-packages (from pandas>=0.21.0->streamlit) (2021.3)
Requirement already satisfied: ipykernel>=5.1.2 in c:\users\wg_95\anaconda3\lib\site-packages (from pydeck>=0.1.dev5->streamlit) (6.9.1)
Requirement already satisfied: traitlets>=4.3.2 in c:\users\wg_95\anaconda3\lib\site-packages (from pydeck>=0.1.dev5->streamlit) (5.1.1)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\wg_95\anaconda3\lib\site-packages (from pydeck>=0.1.dev5->streamlit) (7.6.5)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in c:\users\wg_95\anaconda3\lib\site-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (1.5.1)
Requirement already satisfied: ipython>=7.23.1 in c:\users\wg_95\anaconda3\lib\site-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (8.2.0)
Requirement already satisfied: matplotlib-inline<0.2.0,>=0.1.0 in c:\users\wg_95\anaconda3\lib\site-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.1.2)
Requirement already satisfied: nest-asyncio in c:\users\wg_95\anaconda3\lib\site-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (1.5.5)
Requirement already satisfied: jupyter-client<8.0 in c:\users\wg_95\anaconda3\lib\site-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (6.1.12)
Requirement already satisfied: jedi>=0.16 in c:\users\wg_95\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\wg_95\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.7.5)
Requirement already satisfied: decorator in c:\users\wg_95\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (5.1.1)
Requirement already satisfied: stack-data in c:\users\wg_95\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\wg_95\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (61.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\wg_95\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (2.11.2)
Requirement already satisfied: backcall in c:\users\wg_95\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\wg_95\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (3.0.20)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\wg_95\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\wg_95\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (3.5.2)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\wg_95\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.3.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\wg_95\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.0.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\wg_95\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.8.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\wg_95\anaconda3\lib\site-packages (from jinja2->altair>=3.2.0->streamlit) (2.0.1)
Requirement already satisfied: jupyter-core>=4.6.0 in c:\users\wg_95\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (4.9.2)
Requirement already satisfied: pyzmq>=13 in c:\users\wg_95\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (22.3.0)
Requirement already satisfied: pywin32>=1.0 in c:\users\wg_95\anaconda3\lib\site-packages (from jupyter-core>=4.6.0->jupyter-client<8.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (302)
Requirement already satisfied: fastjsonschema in c:\users\wg_95\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (2.15.1)
Requirement already satisfied: wcwidth in c:\users\wg_95\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\users\wg_95\anaconda3\lib\site-packages (from python-dateutil->streamlit) (1.16.0)
Requirement already satisfied: notebook>=4.4.1 in c:\users\wg_95\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (6.4.8)
Requirement already satisfied: terminado>=0.8.3 in c:\users\wg_95\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.13.1)
Requirement already satisfied: prometheus-client in c:\users\wg_95\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.13.1)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\users\wg_95\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.8.0)
Requirement already satisfied: nbconvert in c:\users\wg_95\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (6.4.4)
Requirement already satisfied: argon2-cffi in c:\users\wg_95\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (21.3.0)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\wg_95\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (2.0.2)
Requirement already satisfied: argon2-cffi-bindings in c:\users\wg_95\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\wg_95\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.15.0)
Requirement already satisfied: pycparser in c:\users\wg_95\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (2.21)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\wg_95\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.13)
Requirement already satisfied: testpath in c:\users\wg_95\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.0)
Requirement already satisfied: defusedxml in c:\users\wg_95\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\wg_95\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.5.0)
Requirement already satisfied: beautifulsoup4 in c:\users\wg_95\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (4.11.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\wg_95\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.1.2)
Requirement already satisfied: bleach in c:\users\wg_95\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (4.1.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\wg_95\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.8.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\wg_95\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (2.3.1)
Requirement already satisfied: webencodings in c:\users\wg_95\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\wg_95\anaconda3\lib\site-packages (from packaging->streamlit) (3.0.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\wg_95\anaconda3\lib\site-packages (from requests->streamlit) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\wg_95\anaconda3\lib\site-packages (from requests->streamlit) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\wg_95\anaconda3\lib\site-packages (from requests->streamlit) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wg_95\anaconda3\lib\site-packages (from requests->streamlit) (2021.10.8)
Collecting commonmark<0.10.0,>=0.9.0
  Using cached commonmark-0.9.1-py2.py3-none-any.whl (51 kB)
Requirement already satisfied: executing in c:\users\wg_95\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\wg_95\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.2)
Requirement already satisfied: asttokens in c:\users\wg_95\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (2.0.5)
Collecting tzdata
  Using cached tzdata-2022.1-py2.py3-none-any.whl (339 kB)
Collecting pytz-deprecation-shim
  Using cached pytz_deprecation_shim-0.1.0.post0-py2.py3-none-any.whl (15 kB)
Building wheels for collected packages: blinker, validators
  Building wheel for blinker (setup.py): started
  Building wheel for blinker (setup.py): finished with status 'done'
  Created wheel for blinker: filename=blinker-1.4-py3-none-any.whl size=13478 sha256=35e0f9f0b93aa1ed0f1f460d7ed539808c6e34dd8be3f5615d1c94e80f45b1f6
  Stored in directory: c:\users\wg_95\appdata\local\pip\cache\wheels\50\93\f8\4f0a42a03a06626d675f13907b6982ad5ecff383530af5a900
  Building wheel for validators (setup.py): started
  Building wheel for validators (setup.py): finished with status 'done'
  Created wheel for validators: filename=validators-0.20.0-py3-none-any.whl size=19582 sha256=f99d8222fb05c096ff045e3fca90bc2648ce97953dac577f213997c03ea4757e
  Stored in directory: c:\users\wg_95\appdata\local\pip\cache\wheels\2d\f0\a8\1094fca7a7e5d0d12ff56e0c64675d72aa5cc81a5fc200e849
Successfully built blinker validators
Installing collected packages: tzdata, smmap, pytz-deprecation-shim, gitdb, commonmark, validators, tzlocal, semver, rich, pympler, pydeck, pyarrow, gitpython, blinker, streamlit
Successfully installed blinker-1.4 commonmark-0.9.1 gitdb-4.0.9 gitpython-3.1.27 pyarrow-8.0.0 pydeck-0.7.1 pympler-1.0.1 pytz-deprecation-shim-0.1.0.post0 rich-12.4.4 semver-2.13.0 smmap-5.0.0 streamlit-1.10.0 tzdata-2022.1 tzlocal-4.2 validators-0.20.0

In [2]:
!pip install yfinance --upgrade --no-cache-dir

Collecting yfinance
  Downloading yfinance-0.1.72-py2.py3-none-any.whl (27 kB)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: numpy>=1.15 in c:\users\wg_95\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: lxml>=4.5.1 in c:\users\wg_95\anaconda3\lib\site-packages (from yfinance) (4.8.0)
Requirement already satisfied: requests>=2.26 in c:\users\wg_95\anaconda3\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=0.24.0 in c:\users\wg_95\anaconda3\lib\site-packages (from yfinance) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\wg_95\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\wg_95\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\wg_95\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wg_95\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\wg_95\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\wg_95\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\wg_95\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.9)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.72

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [4]:
aapl = yf.Ticker("AAPL")

In [5]:
aapl

yfinance.Ticker object <AAPL>

In [6]:
aapl.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-06-09,147.080002,147.949997,142.529999,142.639999,69473000,0,0
2022-06-10,140.279999,140.759995,137.059998,137.130005,91437900,0,0
2022-06-13,132.869995,135.199997,131.440002,131.880005,122207100,0,0
2022-06-14,133.130005,133.889999,131.479996,132.759995,84784300,0,0
2022-06-15,134.289993,137.339996,132.160004,135.429993,91533000,0,0
2022-06-16,132.080002,132.389999,129.039993,130.059998,108123900,0,0
2022-06-17,130.070007,133.080002,129.809998,131.559998,134118500,0,0
2022-06-21,133.419998,137.059998,133.320007,135.869995,81000500,0,0
2022-06-22,134.789993,137.759995,133.910004,135.350006,73409200,0,0
2022-06-23,136.820007,138.589996,135.630005,138.270004,72433800,0,0
2022-06-24,139.899994,141.910004,139.770004,141.660004,89116800,0,0
2022-06-27,142.699997,143.490005,140.970001,141.660004,70207900,0,0
2022-06-28,142.130005,143.419998,137.320007,137.440002,67083400,0,0
2022-06-29,137.460007,140.669998,136.669998,139.229996,66242400,0,0
2022-06-30,137.250000,138.369995,133.770004,136.720001,98964500,0,0
2022-07-01,136.039993,139.039993,135.660004,138.929993,71007500,0,0
2022-07-05,137.770004,141.610001,136.929993,141.559998,73353800,0,0
2022-07-06,141.350006,144.119995,141.080002,142.919998,74064300,0,0
2022-07-07,143.289993,146.550003,143.279999,146.350006,66253700,0,0
2022-07-08,145.259995,147.550003,145.000000,147.039993,64493200,0,0

In [6]:
toyota = yf.Ticker("7203.T")

In [7]:
toyota.history()

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2022-06-08  2199.0  2230.0  2191.0  2230.0  25246600          0             0
2022-06-09  2249.0  2267.0  2235.5  2239.0  27281400          0             0
2022-06-10  2211.0  2232.0  2196.0  2203.5  28515100          0             0
2022-06-13  2150.0  2159.0  2128.0  2131.5  25274900          0             0
2022-06-14  2083.0  2121.5  2077.5  2095.0  26804400          0             0
2022-06-15  2088.0  2108.0  2080.0  2080.0  22726900          0             0
2022-06-16  2142.0  2173.5  2131.0  2140.0  24439500          0             0
2022-06-17  2046.0  2087.0  2042.0  2063.0  45125700          0             0
2022-06-20  2090.0  2115.0  2070.5  2089.5  20577400          0             0
2022-06-21  2119.5  2144.0  2107.0  2138.5  23768100          0             0
2022-06-22  2168.0  2188.5  2149.0  2156.0  22961800          0             0
2022-06-23  2148.0  2159.0  2116.0  2126.5  20869300          0             0
2022-06-24  2095.0  2115.5  2087.5  2111.5  21561600          0             0
2022-06-27  2137.0  2144.0  2109.0  2121.5  17615400          0             0
2022-06-28  2138.5  2167.5  2133.5  2167.5  26045200          0             0
2022-06-29  2165.0  2168.0  2125.5  2128.0  36393000          0             0
2022-06-30  2128.5  2131.5  2093.5  2100.0  30076600          0             0
2022-07-01  2095.0  2104.0  2056.0  2067.0  30994400          0             0
2022-07-04  2094.0  2113.0  2087.5  2113.0  21443400          0             0
2022-07-05  2128.0  2136.0  2112.0  2116.5  20328900          0             0
2022-07-06  2089.0  2098.0  2043.5  2058.0  32025100          0             0
2022-07-07  2086.5  2108.0  2065.0  2105.0  27506300          0             0
2022-07-08  2120.5  2147.0  2108.0  2111.0  35446600          0             0

In [7]:
keyence = yf.Ticker("6861.T")

In [8]:
days = 20

hist = keyence.history(period=f"{days}d")

hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-06-13,48880.0,49180.0,48380.0,48400.0,713200,0,0
2022-06-14,47740.0,48320.0,47380.0,48110.0,521400,0,0
2022-06-15,47560.0,47840.0,46250.0,46250.0,841900,0,0
2022-06-16,47880.0,47960.0,46500.0,46500.0,698900,0,0
2022-06-17,45930.0,46490.0,44880.0,46070.0,1666600,0,0
2022-06-20,46990.0,46990.0,45180.0,46080.0,588200,0,0
2022-06-21,46480.0,47400.0,46140.0,47150.0,487900,0,0
2022-06-22,47850.0,48010.0,47200.0,47390.0,548600,0,0
2022-06-23,46690.0,47580.0,46010.0,46150.0,633000,0,0
2022-06-24,46300.0,46540.0,45700.0,46250.0,922900,0,0
2022-06-27,46620.0,47580.0,46360.0,47360.0,664500,0,0
2022-06-28,47310.0,47380.0,46550.0,47340.0,590000,0,0
2022-06-29,46480.0,47010.0,46410.0,46870.0,978900,0,0
2022-06-30,46280.0,46960.0,46040.0,46380.0,729800,0,0
2022-07-01,46500.0,46950.0,45280.0,45610.0,616100,0,0
2022-07-04,45510.0,46590.0,45510.0,46430.0,466100,0,0
2022-07-05,47080.0,47430.0,46410.0,46810.0,505000,0,0
2022-07-06,47100.0,48040.0,46970.0,47970.0,614000,0,0
2022-07-07,48000.0,49400.0,47970.0,49400.0,713300,0,0
2022-07-08,49700.0,50720.0,49570.0,49630.0,906500,0,0

In [17]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [18]:
hist.reset_index()
#現在はDateがインデックスになっているため、インデックスをリセット。

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2022-06-13,48880.0,49180.0,48380.0,48400.0,713200,0,0
1,2022-06-14,47740.0,48320.0,47380.0,48110.0,521400,0,0
2,2022-06-15,47560.0,47840.0,46250.0,46250.0,841900,0,0
3,2022-06-16,47880.0,47960.0,46500.0,46500.0,698900,0,0
4,2022-06-17,45930.0,46490.0,44880.0,46070.0,1666600,0,0
5,2022-06-20,46990.0,46990.0,45180.0,46080.0,588200,0,0
6,2022-06-21,46480.0,47400.0,46140.0,47150.0,487900,0,0
7,2022-06-22,47850.0,48010.0,47200.0,47390.0,548600,0,0
8,2022-06-23,46690.0,47580.0,46010.0,46150.0,633000,0,0
9,2022-06-24,46300.0,46540.0,45700.0,46250.0,922900,0,0
10,2022-06-27,46620.0,47580.0,46360.0,47360.0,664500,0,0
11,2022-06-28,47310.0,47380.0,46550.0,47340.0,590000,0,0
12,2022-06-29,46480.0,47010.0,46410.0,46870.0,978900,0,0
13,2022-06-30,46280.0,46960.0,46040.0,46380.0,729800,0,0
14,2022-07-01,46500.0,46950.0,45280.0,45610.0,616100,0,0
15,2022-07-04,45510.0,46590.0,45510.0,46430.0,466100,0,0
16,2022-07-05,47080.0,47430.0,46410.0,46810.0,505000,0,0
17,2022-07-06,47100.0,48040.0,46970.0,47970.0,614000,0,0
18,2022-07-07,48000.0,49400.0,47970.0,49400.0,713300,0,0
19,2022-07-08,49700.0,50720.0,49570.0,49630.0,906500,0,0

In [9]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-06-13,48880.0,49180.0,48380.0,48400.0,713200,0,0
2022-06-14,47740.0,48320.0,47380.0,48110.0,521400,0,0
2022-06-15,47560.0,47840.0,46250.0,46250.0,841900,0,0
2022-06-16,47880.0,47960.0,46500.0,46500.0,698900,0,0
2022-06-17,45930.0,46490.0,44880.0,46070.0,1666600,0,0

In [10]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-06-13,48880.0,49180.0,48380.0,48400.0,713200,0,0
2022-06-14,47740.0,48320.0,47380.0,48110.0,521400,0,0
2022-06-15,47560.0,47840.0,46250.0,46250.0,841900,0,0

In [11]:
hist.index

DatetimeIndex(['2022-06-13', '2022-06-14', '2022-06-15', '2022-06-16',
               '2022-06-17', '2022-06-20', '2022-06-21', '2022-06-22',
               '2022-06-23', '2022-06-24', '2022-06-27', '2022-06-28',
               '2022-06-29', '2022-06-30', '2022-07-01', '2022-07-04',
               '2022-07-05', '2022-07-06', '2022-07-07', '2022-07-08'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [12]:
hist.index = hist.index.strftime('%d %B %Y') #dateの表示形式を変更

In [13]:
hist.columns = ["Keyence"]

ValueError: Length mismatch: Expected axis has 7 elements, new values have 1 elements

In [ ]:
hist = hist.T

In [ ]:
hist.index.name = "Name"

In [14]:


hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
13 June 2022,48880.0,49180.0,48380.0,48400.0,713200,0,0
14 June 2022,47740.0,48320.0,47380.0,48110.0,521400,0,0
15 June 2022,47560.0,47840.0,46250.0,46250.0,841900,0,0
16 June 2022,47880.0,47960.0,46500.0,46500.0,698900,0,0
17 June 2022,45930.0,46490.0,44880.0,46070.0,1666600,0,0
20 June 2022,46990.0,46990.0,45180.0,46080.0,588200,0,0
21 June 2022,46480.0,47400.0,46140.0,47150.0,487900,0,0
22 June 2022,47850.0,48010.0,47200.0,47390.0,548600,0,0
23 June 2022,46690.0,47580.0,46010.0,46150.0,633000,0,0
24 June 2022,46300.0,46540.0,45700.0,46250.0,922900,0,0
27 June 2022,46620.0,47580.0,46360.0,47360.0,664500,0,0
28 June 2022,47310.0,47380.0,46550.0,47340.0,590000,0,0
29 June 2022,46480.0,47010.0,46410.0,46870.0,978900,0,0
30 June 2022,46280.0,46960.0,46040.0,46380.0,729800,0,0
01 July 2022,46500.0,46950.0,45280.0,45610.0,616100,0,0
04 July 2022,45510.0,46590.0,45510.0,46430.0,466100,0,0
05 July 2022,47080.0,47430.0,46410.0,46810.0,505000,0,0
06 July 2022,47100.0,48040.0,46970.0,47970.0,614000,0,0
07 July 2022,48000.0,49400.0,47970.0,49400.0,713300,0,0
08 July 2022,49700.0,50720.0,49570.0,49630.0,906500,0,0

In [15]:
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():

        tkr = yf.Ticker(tickers[company])

        hist = tkr.history(period=f"{days}d")
        hist.index = hist.index.strftime("%d %B %Y")
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name="Name"

        df = pd.concat([df, hist])
    return df

In [23]:
days = 20

tickers = {
    'Keyence': '6861.T',
    'Omron': '6645.T',
    'Murata': '6981.T'
}

df = get_data(20, tickers)

df

Date,13 June 2022,14 June 2022,15 June 2022,16 June 2022,17 June 2022,20 June 2022,21 June 2022,22 June 2022,23 June 2022,24 June 2022,27 June 2022,28 June 2022,29 June 2022,30 June 2022,01 July 2022,04 July 2022,05 July 2022,06 July 2022,07 July 2022,08 July 2022
Name,,,,,,,,,,,,,,,,,,,,
Keyence,48400.0,48110.0,46250.0,46500.0,46070.0,46080.0,47150.0,47390.0,46150.0,46250.0,47360.0,47340.0,46870.0,46380.0,45610.0,46430.0,46810.0,47970.0,49400.0,49630.0
Omron,7003.0,6945.0,6699.0,6731.0,6668.0,6594.0,6684.0,6690.0,6688.0,6964.0,7105.0,7077.0,6980.0,6891.0,6735.0,6803.0,6911.0,6928.0,6969.0,7001.0
Murata,8198.0,8251.0,8050.0,8076.0,7865.0,7724.0,7870.0,7677.0,7641.0,7831.0,7939.0,7885.0,7678.0,7396.0,7184.0,7249.0,7294.0,7377.0,7529.0,7616.0

In [60]:
keyence = yf.Ticker("6861.T")

In [62]:
keyence.info

{'zip': '533-8555',
 'sector': 'Technology',
 'fullTimeEmployees': 8961,
 'longBusinessSummary': 'Keyence Corporation, together with its subsidiaries, develops, manufactures, and sells factory automation solutions worldwide. The company offers photoelectric, fiber optic, laser, positioning, vision, and inductive proximity sensors, as well as network communication units used for presence/absence and part differentiation applications. It also provides measurement sensors, such as laser displacement and profiler, optical/laser micrometer, 3D interference measurement, spectral interference displacement, and contact displacement/LVDT sensors; and measurement systems, including optical comparators, 3D scanners, and CMM/laser trackers. In addition, the company offers safety products comprising safety laser scanners, light curtains, interlock switches, and controllers to protect operators from machine hazards; and pressure, flow, level, and temperature sensors for monitoring equipment processes. Further, it provides static eliminators/ionizers and electrostatic sensors which protect workers, machinery, and products from the damaging effects of electrostatic charge; vision systems and sensors, and barcode scanners to perform automatic inspection and part identification; and programmable logic controllers and other controls that are used for machine control applications. Additionally, the company offers laser marking systems/laser markers and industrial continuous inkjet printers; digital, 3D laser scanning, and fluorescence microscopes, as well as wide-area 3D measuring systems for industrial and life science applications; and handheld mobile computers. It serves customers in automotive/chassis assembly, metals/machining, FPD/glass, semiconductor/ICS, plastic/molding, food/pharmaceutical, steel, and other industries. Keyence Corporation was founded in 1972 and is headquartered in Osaka, Japan.',
 'city': 'Osaka',
 'phone': '81 6 6379 1111',
 'country': 'Japan',
 'companyOfficers': [],
 'website': 'https://www.keyence.com',
 'maxAge': 1,
 'address1': '1-3-14, Higashi-Nakajima',
 'fax': '81 6 6379 2222',
 'industry': 'Scientific & Technical Instruments',
 'address2': 'Higashi-Yodogawa-ku',
 'ebitdaMargins': 0.56499,
 'profitMargins': 0.40171,
 'grossMargins': 0.82258004,
 'operatingCashflow': 271475998720,
 'revenueGrowth': 0.301,
 'operatingMargins': 0.55357,
 'ebitda': 426666000384,
 'targetLowPrice': 49800,
 'recommendationKey': 'buy',
 'grossProfits': 621190000000,
 'freeCashflow': 225996128256,
 'targetMedianPrice': 70000,
 'currentPrice': 49630,
 'earningsGrowth': 0.309,
 'currentRatio': 9.025,
 'returnOnAssets': 0.120570004,
 'numberOfAnalystOpinions': 16,
 'targetMeanPrice': 71393.8,
 'debtToEquity': None,
 'returnOnEquity': 0.14847,
 'targetHighPrice': 89000,
 'totalCash': 1004571983872,
 'totalDebt': 0,
 'totalRevenue': 755174014976,
 'totalCashPerShare': 4142.118,
 'financialCurrency': 'JPY',
 'revenuePerShare': 3113.782,
 'quickRatio': 8.543,
 'recommendationMean': 1.9,
 'exchange': 'JPX',
 'shortName': 'KEYENCE CORP',
 'longName': 'Keyence Corporation',
 'exchangeTimezoneName': 'Asia/Tokyo',
 'exchangeTimezoneShortName': 'JST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '32400000',
 'quoteType': 'EQUITY',
 'symbol': '6861.T',
 'messageBoardId': 'finmb_877026',
 'market': 'jp_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 14.609,
 'beta3Year': None,
 'enterpriseToEbitda': 25.856,
 '52WeekChange': -0.15118867,
 'morningStarRiskRating': None,
 'forwardEps': 1544.73,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 242526000,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 8962.257,
 'sharesShort': None,
 'sharesPercentSharesOut': None,
 'fundFamily': None,
 'lastFiscalYearEnd': 1647734400,
 'heldPercentInstitutions': 0.36356,
 'netIncomeToCommon': 303359983616,
 'trailingEps': 1250.83,
 'lastDividendValue': 100,
 'SandP52WeekChange': -0.110670686,
 'priceToBook': 5.5376678,
 'heldPercentInsiders': 0.22763,
 'nextFiscalYearEnd': 1710892800,
 'yield': None,
 'mostRecentQuarter': 1647734400,
 'shortRatio': None,
 'sharesShortPreviousMonthDate': None,
 'floatShares': 194239212,
 'beta': 0.862482,
 'enterpriseValue': 11032002035712,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1574121600,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1679011200,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.308,
 'priceToSalesTrailing12Months': 15.938797,
 'dateShortInterest': None,
 'pegRatio': None,
 'ytdReturn': None,
 'forwardPE': 32.128593,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': None,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 49400,
 'regularMarketOpen': 49700,
 'twoHundredDayAverage': 59994.65,
 'trailingAnnualDividendYield': 0.004048583,
 'payoutRatio': 0.1599,
 'volume24Hr': None,
 'regularMarketDayHigh': 50720,
 'navPrice': None,
 'averageDailyVolume10Day': 678420,
 'regularMarketPreviousClose': 49400,
 'fiftyDayAverage': 49337.2,
 'trailingAnnualDividendRate': 200,
 'open': 49700,
 'toCurrency': None,
 'averageVolume10days': 678420,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 200,
 'exDividendDate': 1663286400,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 49570,
 'currency': 'JPY',
 'trailingPE': 39.677654,
 'regularMarketVolume': 906500,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 12036565106688,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 672227,
 'dayLow': 49570,
 'ask': 49850,
 'askSize': 0,
 'volume': 906500,
 'fiftyTwoWeekHigh': 76210,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 0.29,
 'fiftyTwoWeekLow': 44880,
 'bid': 49620,
 'tradeable': False,
 'dividendYield': 0.004,
 'bidSize': 0,
 'dayHigh': 50720,
 'coinMarketCapLink': None,
 'regularMarketPrice': 49630,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/keyence.com',
 'trailingPegRatio': 2.9771}

In [67]:
keyence.actions

             Dividends  Stock Splits
Date
2001-03-14    1.878287           0.0
2001-09-17    1.878287           0.0
2002-03-15    1.878287           0.0
2002-09-17    1.878287           0.0
2003-03-17    1.878287           0.0
2003-09-16    1.878287           0.0
2004-03-16    1.878287           0.0
2004-06-15    0.939144           0.0
2005-03-15    2.817431           0.0
2005-09-14    1.878287           0.0
2006-03-15    2.066116           1.1
2006-09-14    2.066116           0.0
2007-03-15    6.198347           0.0
2007-09-14    6.198347           0.0
2008-03-12    6.198347           0.0
2008-09-16    6.198347           0.0
2009-03-16    6.818182           1.1
2009-09-15    6.818182           0.0
2010-03-17    6.136364           0.0
2010-09-15    6.818182           0.0
2011-03-16    6.818182           0.0
2011-09-15    6.818182           0.0
2012-03-15    6.818180           1.0
2012-06-18    3.750000           0.0
2013-03-15   11.250000           0.0
2013-09-18    7.500000           0.0
2014-03-18    7.500000           0.0
2014-09-17   25.000000           0.0
2015-03-18   25.000000           0.0
2015-06-17   12.500000           0.0
2016-03-16   37.500000           0.0
2016-06-16   12.500000           0.0
2017-01-18    0.000000           2.0
2017-03-15   37.500000           0.0
2017-09-15   25.000000           0.0
2018-03-16   25.000000           0.0
2018-09-18   50.000000           0.0
2019-03-18   50.000000           0.0
2019-09-19   50.000000           0.0
2019-11-19    0.000000           2.0
2020-03-18  100.000000           0.0
2020-09-17  100.000000           0.0
2021-03-18  100.000000           0.0
2021-09-16  100.000000           0.0
2022-03-17  100.000000           0.0

In [18]:
!pip3 install altair

Collecting altair
  Using cached altair-4.2.0-py3-none-any.whl (812 kB)
Requirement already satisfied: jinja2 in c:\users\wg_95\anaconda3\lib\site-packages (from altair) (2.11.3)
Requirement already satisfied: entrypoints in c:\users\wg_95\anaconda3\lib\site-packages (from altair) (0.4)
Requirement already satisfied: toolz in c:\users\wg_95\anaconda3\lib\site-packages (from altair) (0.11.2)
Requirement already satisfied: pandas>=0.18 in c:\users\wg_95\anaconda3\lib\site-packages (from altair) (1.4.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\wg_95\anaconda3\lib\site-packages (from altair) (4.4.0)
Requirement already satisfied: numpy in c:\users\wg_95\anaconda3\lib\site-packages (from altair) (1.21.5)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\wg_95\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\wg_95\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (21.4.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wg_95\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\wg_95\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\wg_95\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.18->altair) (1.16.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\wg_95\anaconda3\lib\site-packages (from jinja2->altair) (2.0.1)
Installing collected packages: altair
Successfully installed altair-4.2.0

In [19]:
import altair as alt

In [24]:
df

Date,13 June 2022,14 June 2022,15 June 2022,16 June 2022,17 June 2022,20 June 2022,21 June 2022,22 June 2022,23 June 2022,24 June 2022,27 June 2022,28 June 2022,29 June 2022,30 June 2022,01 July 2022,04 July 2022,05 July 2022,06 July 2022,07 July 2022,08 July 2022
Name,,,,,,,,,,,,,,,,,,,,
Keyence,48400.0,48110.0,46250.0,46500.0,46070.0,46080.0,47150.0,47390.0,46150.0,46250.0,47360.0,47340.0,46870.0,46380.0,45610.0,46430.0,46810.0,47970.0,49400.0,49630.0
Omron,7003.0,6945.0,6699.0,6731.0,6668.0,6594.0,6684.0,6690.0,6688.0,6964.0,7105.0,7077.0,6980.0,6891.0,6735.0,6803.0,6911.0,6928.0,6969.0,7001.0
Murata,8198.0,8251.0,8050.0,8076.0,7865.0,7724.0,7870.0,7677.0,7641.0,7831.0,7939.0,7885.0,7678.0,7396.0,7184.0,7249.0,7294.0,7377.0,7529.0,7616.0

In [25]:
companies = ["Murata","Omron"]
data = df.loc[companies] #名前で抽出
data

Date,13 June 2022,14 June 2022,15 June 2022,16 June 2022,17 June 2022,20 June 2022,21 June 2022,22 June 2022,23 June 2022,24 June 2022,27 June 2022,28 June 2022,29 June 2022,30 June 2022,01 July 2022,04 July 2022,05 July 2022,06 July 2022,07 July 2022,08 July 2022
Name,,,,,,,,,,,,,,,,,,,,
Murata,8198.0,8251.0,8050.0,8076.0,7865.0,7724.0,7870.0,7677.0,7641.0,7831.0,7939.0,7885.0,7678.0,7396.0,7184.0,7249.0,7294.0,7377.0,7529.0,7616.0
Omron,7003.0,6945.0,6699.0,6731.0,6668.0,6594.0,6684.0,6690.0,6688.0,6964.0,7105.0,7077.0,6980.0,6891.0,6735.0,6803.0,6911.0,6928.0,6969.0,7001.0

In [26]:
data.sort_index()

Date,13 June 2022,14 June 2022,15 June 2022,16 June 2022,17 June 2022,20 June 2022,21 June 2022,22 June 2022,23 June 2022,24 June 2022,27 June 2022,28 June 2022,29 June 2022,30 June 2022,01 July 2022,04 July 2022,05 July 2022,06 July 2022,07 July 2022,08 July 2022
Name,,,,,,,,,,,,,,,,,,,,
Murata,8198.0,8251.0,8050.0,8076.0,7865.0,7724.0,7870.0,7677.0,7641.0,7831.0,7939.0,7885.0,7678.0,7396.0,7184.0,7249.0,7294.0,7377.0,7529.0,7616.0
Omron,7003.0,6945.0,6699.0,6731.0,6668.0,6594.0,6684.0,6690.0,6688.0,6964.0,7105.0,7077.0,6980.0,6891.0,6735.0,6803.0,6911.0,6928.0,6969.0,7001.0

In [27]:
data = data.T.reset_index()
data.head()

Name          Date  Murata   Omron
0     13 June 2022  8198.0  7003.0
1     14 June 2022  8251.0  6945.0
2     15 June 2022  8050.0  6699.0
3     16 June 2022  8076.0  6731.0
4     17 June 2022  7865.0  6668.0

In [28]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={"value": "Stock Prices (Yen)"}

)
#Dateを基準として、データ正規化
#列の名前を変更
data

            Date    Name  Stock Prices (Yen)
0   13 June 2022  Murata              8198.0
1   14 June 2022  Murata              8251.0
2   15 June 2022  Murata              8050.0
3   16 June 2022  Murata              8076.0
4   17 June 2022  Murata              7865.0
5   20 June 2022  Murata              7724.0
6   21 June 2022  Murata              7870.0
7   22 June 2022  Murata              7677.0
8   23 June 2022  Murata              7641.0
9   24 June 2022  Murata              7831.0
10  27 June 2022  Murata              7939.0
11  28 June 2022  Murata              7885.0
12  29 June 2022  Murata              7678.0
13  30 June 2022  Murata              7396.0
14  01 July 2022  Murata              7184.0
15  04 July 2022  Murata              7249.0
16  05 July 2022  Murata              7294.0
17  06 July 2022  Murata              7377.0
18  07 July 2022  Murata              7529.0
19  08 July 2022  Murata              7616.0
20  13 June 2022   Omron              7003.0
21  14 June 2022   Omron              6945.0
22  15 June 2022   Omron              6699.0
23  16 June 2022   Omron              6731.0
24  17 June 2022   Omron              6668.0
25  20 June 2022   Omron              6594.0
26  21 June 2022   Omron              6684.0
27  22 June 2022   Omron              6690.0
28  23 June 2022   Omron              6688.0
29  24 June 2022   Omron              6964.0
30  27 June 2022   Omron              7105.0
31  28 June 2022   Omron              7077.0
32  29 June 2022   Omron              6980.0
33  30 June 2022   Omron              6891.0
34  01 July 2022   Omron              6735.0
35  04 July 2022   Omron              6803.0
36  05 July 2022   Omron              6911.0
37  06 July 2022   Omron              6928.0
38  07 July 2022   Omron              6969.0
39  08 July 2022   Omron              7001.0

In [39]:
y_min = 6500
y_max = 8500

chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True) #clip=True:外に出ているデータを表示しない
    .encode(
        x = "Date:T", #:Tは時系列
        y = alt.Y("Stock Prices (Yen):Q", stack=None, scale=alt.Scale(domain=[y_min, y_max])), #:Q定量化, stack:積み上げ
        color="Name:N"    
    )
)
chart

alt.Chart(...)

RendererRegistry.enable('notebook')